/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
form div.input-field input{
    padding-left: 15px !important;
    color: #000000;
}

.input-field>input{
    border-bottom: 2px solid #080808 !important;
}

input.ng-invalid.ng-dirty{
    border-bottom-color : #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
}

.input-field>label{
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.btn-custom,.btn-custom:hover,.btn-custom:focus{
    background-color: #000000;
    font-size: 1.3rem;
    margin: 0px 5px;
    border: #0e0e0e solid 1px;
    text-transform: none;
    height: auto;
}

div.card{
    background-color : #9a9e9d;
    border-radius: 5px;
}

.newCard{
    background-color : #1de9b6 !important;
    border-radius: 5px;
}

.row .col .s4{
    padding: 10px;
}

.card .card-content {
    padding: 15px;
}

a.action-btn{
    color: #0c0c0c ;
    margin: 0px 5px;

}

hr{
    border: 2px solid black;
}

p{
    font-weight: bolder;
    font-size: 1.7em;
}

a.action-btn:hover{
    cursor: pointer;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left:7%;
  }